node_modules/
admin/backend/node_modules/
admin/frontend/node_modules/

build/

data/*.sqlite
data/*.sqlite-shm
data/*.sqlite-wal

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.vs/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json
